# Airflow Admin
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Dataform
DATAFORM_PROJECT_ID=kap-chat
DATAFORM_LOCATION=asia-northeast3
DATAFORM_REPOSITORY_ID=koin-repository
DATAFORM_WORKFLOW_CONFIG=daily_stg_ga4_production

# Slack
SLACK_WEBHOOK_URL=
SLACK_USERNAME=airflow-koin

# Billing
BILLING_EXPORT_PROJECT_ID=kap-chat
BILLING_EXPORT_DATASET=gcp_billing
BILLING_EXPORT_TABLE_PREFIX=gcp_billing_export_resource_v1_

# Tableau
TABLEAU_SERVER_URL=https://prod-apnortheast-a.online.tableau.com
TABLEAU_SITE_CONTENT_URL=bcsd
TABLEAU_PAT_NAME=
TABLEAU_PAT_SECRET=
TABLEAU_API_VERSION=3.24
TABLEAU_DATASOURCE_IDS=
TABLEAU_WAIT_FOR_JOB=true
TABLEAU_JOB_POLL_SECONDS=20
TABLEAU_JOB_TIMEOUT_SECONDS=3600
